/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
    margin-left: 46px;
    margin-bottom: 60px;
}

.groupeditemspage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupeditemspage .groupeditemslist .win-groupheader {
        margin: 0;
        margin-left: 70px;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .win-groupheader .group-title {
            margin-bottom: 15px;
        }

    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-container {
        margin-bottom: 6px;
        margin-right: 6px;
    }

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
    }

        .groupeditemspage .groupeditemslist .win-item .item-image {
            -ms-grid-row-span: 2;
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .groupeditemspage .groupeditemslist .win-item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: snapped) {

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
    }

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container {
        margin: 10px 28px 10px 20px;
    }

        .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .groupeditemspage .groupeditemslist .win-item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
                margin-top: 4px;
                max-height: 40px;
                width: 202px;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 26px;
    }
}

header[role=banner] ul.menu li {
    float: right;
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    font-size: 28pt;
}

a {
    color: #172161;
}

    a.selected {
        color: white;
    }

header[role=banner] .panel {
    -ms-grid-column-span: 2;
    -ms-grid-column: 0;
    -ms-grid-columns: 350px 1fr;
    display: -ms-grid;
}

    header[role=banner] .panel h1 {
        -ms-grid-column: 0;
    }

    header[role=banner] .panel ul {
        -ms-grid-column: 0;
        margin-top: 48px;
    }


section[role=main] .notifications {
    height: 100px;
    background-color: #F8FF00;
    margin-bottom: 20px;
    color:  black;
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr 90px;
    -ms-grid-rows:  1fr;
}

section[role=main] .notifications .left {
    -ms-grid-column: 1;
    font-size: 24px;
	margin-left: 10px;
    font-weight: 500;
	-ms-grid-row: 1; 
	-ms-grid-row-span: 1; 
	-ms-grid-row-align: center;
}

section[role=main] .notifications .center {
    -ms-grid-column: 2;
       overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-rails: none;
	-ms-grid-row: 1; 
	-ms-grid-row-span: 1; 
	-ms-grid-row-align: stretch;
	-ms-grid-rows: 1fr; -ms-grid-columns: 1fr; display: -ms-grid;
}

section[role=main] .notifications .right {
    -ms-grid-column: 3;
     -ms-grid-row: 1; 
	-ms-grid-row-span: 1; 
	-ms-grid-row-align: center;
}

section[role=main] .notifications ul {
    width: 1600px;
    list-style-type: none;
	-ms-grid-row-align: center; 
	-ms-grid-row: 1; 
	-ms-grid-column: 1;
}

section[role=main] .notifications li {
    display: inline; 
    margin-right: 30px;
    font-size: 24pt;
}

section[role=main] .notifications li.warning:before {
     content: url('../images/warning.png');
     margin-right: 10px;
     margin-top: 5px;
}

section[role=main] .notifications li.achievement:before {
     content: url('../images/check.png');
     margin-right: 10px;
     margin-top: 5px;
}

section[role=main] .panel {
    margin-left: 20px;
}

section[role=main] .section {
    width: 800px;
}

    section[role=main] .section .large img {
        width: 800px;
        height: 480px;
    }

    section[role=main] .section .actions {
        background-color: white;
    }

        section[role=main] .section .actions ul {
            background-color: white;
            padding: 20px;
            margin-left: 65px;
            margin-right: 65px;
        }

        section[role=main] .section .actions li {
            list-style-type: none;
            display: inline;
            background: white;
            margin: 0px 20px 45px 45px;
            font-size: 17pt;
            color: blue;
        }

section[role=main] #dismiss img {
    
    height: 80px;
}